@import "../../variables.scss";

.footer {
	line-height: 1.5rem;
	padding-bottom: 1.5rem;
	padding-top: 1.5rem;
	background-color: #363636;
}
.content {
	color: $grey-lighter;
	font-size: 0.9rem;
}
a {
	color: $white;
}
a:hover {
	color: $primary;
}

.subtitle .title{
	margin-top: 1.5rem;
}

.subtitle {
	margin-top: 1.5rem;
	margin-bottom: 0rem;
}

.container {
	max-width: 99%;
}