<section class="section">
  <div class="container ">
    <h1 class="title is-1">
      Spanisch - Español
    </h1>
    <h2 class="subtitle is-2">
      Kompaktgrammatik
    </h2>
    <div class="columns">
      <div class="column is-two-thirds">
        <h2 class="subtitle">
          Zeiten
        </h2>
          <div class="columns" id="zeiten">
            <div class="column">
                <div class="dropdown is-hoverable mr-2">
                    <div class="dropdown-trigger">
                      <button class="button" aria-haspopup="true" aria-controls="dropdown-menu2">
                        <span>Presente</span>
                        <span class="icon is-small">
                          <i class="fas fa-angle-down" aria-hidden="true"></i>
                        </span>
                      </button>
                    </div>
                    <div class="dropdown-menu" id="dropdown-menu2" role="menu">
                      <div class="dropdown-content">
                        <div class="dropdown-item">
                          <p>You can insert <strong>any type of content</strong> within the dropdown menu.</p>
                        </div>
                        <hr class="dropdown-divider">
                        <div class="dropdown-item">
                          <p>You simply need to use a <code>&lt;div&gt;</code> instead.</p>
                        </div>
                        <hr class="dropdown-divider">
                        <a href="#" class="dropdown-item">
                          This is a link
                        </a>
                      </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="dropdown is-hoverable mr-2">
                    <div class="dropdown-trigger">
                      <button class="button" aria-haspopup="true" aria-controls="dropdown-menu2">
                        <span>Pretérito Perfecto</span>
                        <span class="icon is-small">
                          <i class="fas fa-angle-down" aria-hidden="true"></i>
                        </span>
                      </button>
                    </div>
                    <div class="dropdown-menu" id="dropdown-menu2" role="menu">
                      <div class="dropdown-content">
                        <div class="dropdown-item">
                          <p>You can insert <strong>any type of content</strong> within the dropdown menu.</p>
                        </div>
                        <hr class="dropdown-divider">
                        <div class="dropdown-item">
                          <p>You simply need to use a <code>&lt;div&gt;</code> instead.</p>
                        </div>
                        <hr class="dropdown-divider">
                        <a href="#" class="dropdown-item">
                          This is a link
                        </a>
                      </div>
                    </div>
                </div>
            </div>
          </div>
        <h2 class="subtitle">
          Modi
        </h2>
        <div class="columns" id="modi">
            <div class="column">
                <div class="dropdown is-hoverable mr-2">
                    <div class="dropdown-trigger">
                      <button class="button" aria-haspopup="true" aria-controls="dropdown-menu2">
                        <span>Indicativo</span>
                        <span class="icon is-small">
                          <i class="fas fa-angle-down" aria-hidden="true"></i>
                        </span>
                      </button>
                    </div>
                    <div class="dropdown-menu" id="dropdown-menu2" role="menu">
                      <div class="dropdown-content">
                        <div class="dropdown-item">
                          <p>You can insert <strong>any type of content</strong> within the dropdown menu.</p>
                        </div>
                        <hr class="dropdown-divider">
                        <div class="dropdown-item">
                          <p>You simply need to use a <code>&lt;div&gt;</code> instead.</p>
                        </div>
                        <hr class="dropdown-divider">
                        <a href="#" class="dropdown-item">
                          This is a link
                        </a>
                      </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="dropdown is-hoverable mr-2">
                    <div class="dropdown-trigger">
                      <button class="button" aria-haspopup="true" aria-controls="dropdown-menu2">
                        <span>Imperativo</span>
                        <span class="icon is-small">
                          <i class="fas fa-angle-down" aria-hidden="true"></i>
                        </span>
                      </button>
                    </div>
                    <div class="dropdown-menu" id="dropdown-menu2" role="menu">
                      <div class="dropdown-content">
                        <div class="dropdown-item">
                          <p>You can insert <strong>any type of content</strong> within the dropdown menu.</p>
                        </div>
                        <hr class="dropdown-divider">
                        <div class="dropdown-item">
                          <p>You simply need to use a <code>&lt;div&gt;</code> instead.</p>
                        </div>
                        <hr class="dropdown-divider">
                        <a href="#" class="dropdown-item">
                          This is a link
                        </a>
                      </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="dropdown is-hoverable mr-2">
                    <div class="dropdown-trigger">
                      <button class="button" aria-haspopup="true" aria-controls="dropdown-menu2">
                        <span>Subjuntivo</span>
                        <span class="icon is-small">
                          <i class="fas fa-angle-down" aria-hidden="true"></i>
                        </span>
                      </button>
                    </div>
                    <div class="dropdown-menu" id="dropdown-menu2" role="menu">
                      <div class="dropdown-content">
                        <div class="dropdown-item">
                          <p>You can insert <strong>any type of content</strong> within the dropdown menu.</p>
                        </div>
                        <hr class="dropdown-divider">
                        <div class="dropdown-item">
                          <p>You simply need to use a <code>&lt;div&gt;</code> instead.</p>
                        </div>
                        <hr class="dropdown-divider">
                        <a href="#" class="dropdown-item">
                          This is a link
                        </a>
                      </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
</div>
</section>

<div *ngIf="loading" class="lds-ring ring-default centered"><div></div><div></div><div></div><div></div></div>