@import "/variables.scss";
@import "../node_modules/aos/src/sass/aos.scss";

$transition-duration: 700ms;
$transition-timing-function: ease-in-out;
@import "~ngx-smart-modal/ngx-smart-modal";

html{
  scroll-behavior: smooth;
}

.bg { 
  background-image: url(./assets/background-compressor.jpg);
  background-position: center center;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-size:  cover;
  background-color: #999;
}

.navpad {
  padding-top: 3rem;
}

.footer {
  background-color: $dark;
}

.box {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.1)!important;
}

.scroll-down {
  position: fixed;
  right: 0.75rem;
  bottom: 0.75rem;
}
.scroll-up {
  position: fixed;
  right: 0.75rem;
  bottom: 3.75rem;
}

.nsm-dialog {
  width: 100%;
  top: 0; left: 0; bottom: 0; right: 0;
  margin: auto;
  position: absolute;
  min-height: 200px;
  max-width: 2000px;
}

.linkedin {
  background-color: #0077b5;
  color: $white;
}

.mt-2 {
  margin-top: 0.75rem;
}

a {
  color: $white;
}

a:hover {
  color: $primary;
}

body[data-aos-delay='4000'] [data-aos],
[data-aos][data-aos][data-aos-delay='4000'] {
  transition-delay: 4000ms;
}

body[data-aos-delay='6500'] [data-aos],
[data-aos][data-aos][data-aos-delay='6500'] {
  transition-delay: 6500ms;
}

body[data-aos-delay='8600'] [data-aos],
[data-aos][data-aos][data-aos-delay='8600'] {
  transition-delay: 8600ms;
}


.button {
  box-shadow: 0 10px 20px rgba(0,0,0,.1);
  transition: all .2s ease-in-out;
}

.button:hover {
  box-shadow: 0 20px 40px rgba(0,0,0,.15);
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
}

.tag {
  box-shadow: 0 10px 20px rgba(0,0,0,.1);
  transition: all .2s ease-in-out;
}

.tag:hover {
  box-shadow: 0 20px 40px rgba(0,0,0,.15);
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
}

.slide-in {
  opacity: 0;
  animation-name: slideinright;
  animation-duration: 2s;
  animation-delay: 4s;
  animation-fill-mode:forwards;
}

.slide-in-2 {
  margin-left: -750px;
  animation-name: slidein;
  animation-duration: 1.5s;
  animation-delay: 5.2s;
  animation-fill-mode:forwards;
}

.slide-in-3 {
  margin-left: -750px;
  animation-name: slidein;
  animation-duration: 1.5s;
  animation-delay: 7s;
  animation-fill-mode:forwards;
}

@keyframes slidein {
  0% {margin-left: -750px;}
  100% {margin-left: 0px;}
}

@keyframes slideinright {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

// CSS-Loading-Spinner
.lds-ring {
  display: inline-block;
  position: relative;
}

.ring-small {
  width: 20px;
  height: 20px;
}

.ring-default {
  width: 64px;
  height: 64px;
}

.ring-default div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid $primary; 
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: $primary transparent transparent transparent;
}

.centered {
  position:absolute;
  left:0; right:0;
  top:0; bottom:0;
  margin:auto;
}

.ring-small div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 26px;
  height: 26px;
  margin: 3px;
  border: 3px solid $primary;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: $primary transparent transparent transparent;
}


.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.true {
  display: none;
}

.is-imogent {
  background-color: #2cb3a0!important;
}

.is-ingokneisel {
  background-color: rgb(136, 8, 7)!important;
}

.other-link:hover {
  color: white!important;
}