@import "/variables.scss";
@import "~ngx-smart-modal/ngx-smart-modal";

.bg { 
  background-image: url(./assets/background.jpg);
  background-position: center center;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-size:  cover;
  background-color: #999;
}

.navpad {
  padding-top: 3rem;
}

.footer {
  background-color: $dark;
}

.box {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.1)!important;
}

.scroll-down {
  position: fixed;
  right: 0.75rem;
  bottom: 0.75rem;
}
.scroll-up {
  position: fixed;
  right: 0.75rem;
  bottom: 3.75rem;
}

.nsm-dialog {
  width: 60rem;
  top: 0; left: 0; bottom: 0; right: 0;
  margin: auto;
  position: absolute;
  min-height: 200px;
  max-width: 2000px;
}

.linkedin {
  background-color: #0077b5;
  color: $white;
}

.mt-2 {
  margin-top: 0.75rem;
}

a {
  color: $white;
}

a:hover {
  color: $primary;
}

.buttons {
  opacity: 0;
  animation-name: slideinright;
  animation-duration: 2s;
  animation-delay: 3.2s;
  animation-fill-mode:forwards;
}

.slide-in {
  opacity: 0;
  animation-name: slideinright;
  animation-duration: 2s;
  animation-delay: 3.2s;
  animation-fill-mode:forwards;
}

.tags {
  margin-left: -750px;
  animation-name: slidein;
  animation-duration: 1s;
  animation-delay: 5.4s;
  animation-fill-mode:forwards;
}

@keyframes slidein {
  0% {margin-left: -750px;}
  100% {margin-left: 0px;}
}

@keyframes slideinright {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

// CSS-Loading-Spinner
.lds-ring {
  display: inline-block;
  position: relative;
}

.ring-small {
  width: 20px;
  height: 20px;
}

.ring-default {
  width: 64px;
  height: 64px;
}

.ring-default div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid $primary; 
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: $primary transparent transparent transparent;
}

.centered {
  position:absolute;
  left:0; right:0;
  top:0; bottom:0;
  margin:auto;
}

.ring-small div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 26px;
  height: 26px;
  margin: 3px;
  border: 3px solid $primary;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: $primary transparent transparent transparent;
}


.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.true {
  display: none;
}