<section class="hero is-fullheight bg {{loading}}">
  <div class="hero-head">
    </div>
    <div class="hero-body">
      <div class="container">
        <h2 class="subtitle">
          <div id="typed-strings">
            <p>Hello, World!</p>
          </div>
          <span id="typed"></span>
        </h2>
        <h1 class="title is-1">
          <div id="typed-strings2">
            <p>I'm Björn!</p>
          </div>
          <span id="typed2"></span><span class="slide-in"> 👨🏼‍💻</span>
        </h1>
        <h2 class="subtitle is-2">
          <div id="typed-strings3">
            <p>A Front-End Dev</p>
          </div>
          <span id="typed3"></span>
        </h2>
        <p class="buttons">
          <a class="button is-primary is-rounded" href="https://github.com/Flameftbk" target="_blank">
            <span class="icon">
              <i class="fab fa-github"></i>
            </span>
            <span>Portfolio</span>
          </a>
          <a class="button is-primary is-rounded" href="https://www.linkedin.com/in/bjoern-kneisel/" target="_blank">
            <span class="icon">
              <i class="fab fa-linkedin"></i>
            </span>
            <span>LinkedIn</span>
          </a>
          <a class="button is-primary is-rounded" href="https://www.instagram.com/bjoernk97/" target="_blank">
            <span class="icon">
              <i class="fab fa-instagram"></i>
            </span>
            <span>Instagram</span>
          </a>
          <a class="button is-primary is-rounded" href="mailto:info@bjoern-kneisel.de" target="_blank">
            <span class="icon">
              <i class="far fa-envelope"></i>
            </span>
            <span>E-Mail</span>
          </a>
        </p>
        <div id="typed-strings4">
          <p class="subtitle">What I use ❤️</p>
        </div>
        <span id="typed4"></span>
          <section class="mt-2 slide-in-2">
            <div class="tags are-medium">
              <span class="tag is-dark"><a href="https://angular.io" target="_blank">Angular 7</a></span>
              <span class="tag is-dark"><a href="https://firebase.google.com" target="_blank">Firebase</a></span>
              <span class="tag is-dark"><a href="https://bulma.io/" target="_blank">Bulma</a></span>
            </div>
          </section>
      </div>
  </div>
  <div class="hero-foot">
    <a class="button is-dark is-rounded animate scroll-down" (click)="scrollDown()">
      <span class="icon">
        <i class="far fa-arrow-alt-circle-down"></i>
      </span>
    </a>
  </div>
</section>
<div *ngIf="loading" class="lds-ring ring-default centered"><div></div><div></div><div></div><div></div></div>